doctype html
html
  head
    title Joe Wang
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='assets/css/main.css')
  body#top
    header#header
      div.inner
    div#main
      section#one
        header.major
          h2 Introduction
            br
        p#Intro= intro
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/jquery.poptrox.min.js")
    script(src="assets/js/skel.min.js")
    script(src="assets/js/util.js")
    script(src="assets/js/main.js")
