<!DOCTYPE html>
<html>
  <head>
    <title>Joe Wang</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body id="top">
    <header id="header">
      <div class="inner">
      </div>
    </header>
    <div id="main">
      <section id="one">
        <header class="major">
          <h2>Introduction<br></h2>
        </header>
        <p id="Intro"></p>
        <ul class="actions">
          <li><a class="button">Paper Download</a></li>
        </ul>
      </section>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.poptrox.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>